@import "tailwindcss";

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}